* {
  padding: 0; margin: 0;
}

canvas {
  margin: 20px 0 0px 30px;
  cursor: pointer;
}

#footer {
  font-family: sans-serif;
  margin-left: 30px;
  margin-top: 770px;
  font-weight: bold;
  display: block;
  float: left;
}

#links {
  display: block;
  float: right;
  margin-left: 210px;
  font-weight: normal;
}

a {
  color: black;
  text-decoration: none;
  padding: 10px;
}

a:hover {
  color: blue;
}

i:hover {
  cursor: pointer;
  color: blue;
}
