* {
  padding: 0; margin: 0;
}

canvas {
  margin-top: 60px;
  cursor: pointer;
}

#title {
  font-size: 50px;
  color: red;
  text-align: center;
  width: 1100px;
  height: 50px;
}

#footer {
  font-family: sans-serif;
  margin-top: 785px;
  font-weight: bold;
}

#links {
  display: block;
  float: right;
  margin-left: 215px;
  font-weight: normal;
}

a {
  color: black;
  text-decoration: none;
  padding: 10px;
}

a:hover {
  color: blue;
}

i:hover {
  cursor: pointer;
  color: blue;
}

.centered {
  position: fixed !important;
  left: 50% !important;
  margin-left: -550px !important;
}
